#preloader {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 999999;
    transition: 0.3s ease opacity;
    text-align: center;
    width: 100%;
    height: 100%
}

#preloader:before {
    content: "";
    width: 80px;
    height: 80px;
    border: 3px solid #292dc2;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    animation-name: LoaderCicle;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear
}

#preloader:after {
    content: "";
    width: 80px;
    height: 80px;
    border: 3px solid #292dc2;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    animation-name: LoaderCicle;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 1s
}

@keyframes LoaderCicle {
    0% {
        width: 0;
        height: 0;
        opacity: 0
    }

    10% {
        width: 10px;
        height: 10px;
        opacity: 1
    }

    80% {
        width: 60px;
        height: 60px;
        opacity: 0.1
    }

    100% {
        width: 70px;
        height: 70px;
        opacity: 0
    }
}

a:hover,
a:active,
a:focus {
    color: #292dc2;
    text-decoration: none
}

.bg-primary,
.primary-overlay[data-overlay-dark]:before {
    background: #292dc2;
    background: -webkit-linear-gradient(-45deg, #292dc2, #0084e9);
    background: -moz-linear-gradient(-45deg, #292dc2, #0084e9);
    background: -o-linear-gradient(-45deg, #292dc2, #0084e9);
    background: linear-gradient(-45deg, #292dc2, #0084e9)
}

.primary-overlay-180[data-overlay-dark]:before {
    background: #292dc2;
    background: -webkit-linear-gradient(180deg, #292dc2, #0084e9);
    background: -moz-linear-gradient(180deg, #292dc2, #0084e9);
    background: -o-linear-gradient(180deg, #292dc2, #0084e9);
    background: linear-gradient(180deg, #292dc2, #0084e9)
}

.primary-overlay-90[data-overlay-dark]:before,
.bg-primary-90 {
    background: #292dc2;
    background: -webkit-linear-gradient(90deg, #292dc2, #0084e9);
    background: -moz-linear-gradient(90deg, #292dc2, #0084e9);
    background: -o-linear-gradient(90deg, #292dc2, #0084e9);
    background: linear-gradient(90deg, #292dc2, #0084e9)
}

.bg-primary-solid,
.primary-overlay-solid[data-overlay-dark]:before {
    background: #292dc2
}

.bg-primary-lighter {
    background: rgba(41, 45, 194, 0.15)
}

.bg-very-dark {
    background: #061836 !important
}

.bg-light-grey {
    background: #f5fafe
}

.dark-overlay[data-overlay-dark]:before {
    background: #091e42
}

.left-overlay[data-overlay-dark]:before {
    background: rgba(0, 0, 0, 0.76);
    background: linear-gradient(-90deg, transparent, #000 65%)
}

.left-overlay-dark[data-overlay-dark]:before {
    background: rgba(6, 30, 66, 0.76);
    background: linear-gradient(-90deg, transparent, #091e42 65%)
}

section.bg-filter-before,
section.bg-filter-after {
    background: transparent
}

.bg-filter-before:before {
    content: "";
    position: absolute;
    left: -127px;
    top: 90px;
    width: 530px;
    height: 530px;
    background: #292dc2;
    opacity: 0.08;
    filter: blur(75px);
    border-radius: 50%;
    z-index: -1
}

.bg-filter-after:after {
    content: "";
    position: absolute;
    right: -120px;
    top: 80px;
    width: 530px;
    height: 530px;
    background: #292dc2;
    opacity: 0.07;
    filter: blur(75px);
    z-index: -1
}

.text-purple {
    color: #292dc2
}

.text-default {
    color: #575a7b
}

.h-100vh {
    height: 100vh
}

.min-height-500 {
    min-height: 500px !important
}

.min-vh-100 {
    min-height: 100vh
}

.badge {
    font-size: 13px;
    padding: 5px 20px;
    line-height: 1.6;
    font-weight: 600
}

.badge-primary-soft {
    background-color: rgba(41, 45, 194, 0.1);
    color: #292dc2
}

.badge-white-soft {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff
}

.header-position {
    margin-top: -85px
}

.text-yellow {
    color: #ffcc6f
}

.text-green {
    color: #06df9e
}

.text-orange {
    color: #ff6262
}

.text-blue {
    color: #15b2ec
}

.text-color-md-blue {
    color: #243f67
}

.text-color-light-blue {
    color: #596982
}

.bg-green-dark {
    background-color: #06df9e
}

.bg-orange-dark {
    background-color: #ff6262
}

.bg-yellow-dark {
    background-color: #ffcc6f
}

.bg-blue-dark {
    background: #15b2ec
}

.bg-purple {
    background: rgba(41, 45, 194, 0.2)
}

.bg-yellow {
    background: rgba(255, 204, 111, 0.2)
}

.bg-green {
    background: rgba(6, 223, 158, 0.1)
}

.bg-orange {
    background: rgba(255, 98, 98, 0.1)
}

.bg-blue {
    background: rgba(21, 178, 236, 0.1)
}

.separator-dashed-line-horrizontal-full {
    border-bottom: 1px dashed #cee1f8 !important
}

.text-primary {
    color: #292dc2 !important
}

.text-white-90 {
    color: rgba(255, 255, 255, 0.9)
}

.text-white-80 {
    color: rgba(255, 255, 255, 0.8)
}

.text-white-70 {
    color: rgba(255, 255, 255, 0.7)
}

.text-white-60 {
    color: rgba(255, 255, 255, 0.6)
}

.text-white-50 {
    color: rgba(255, 255, 255, 0.5)
}

.hover-white:hover,
.hover-white:active,
.hover-white:focus {
    color: #ffffff
}

.line-height-normal {
    line-height: normal
}

.height-400 {
    height: 400px
}

.bg-white-light-opacity {
    background-color: rgba(255, 255, 255, 0.1)
}

.text-highlight {
    padding: 0;
    background-image: linear-gradient(45deg, rgba(41, 45, 194, 0.22) 0, rgba(0, 132, 233, 0.24) 100%);
    background-repeat: no-repeat;
    background-position: 0 80%;
    position: relative;
    animation-delay: 1s;
    background-size: 100% .3em
}

.read-more {
    font-size: 14px;
    color: #292dc2;
    letter-spacing: 0.8px;
    font-weight: 500
}

.read-more:hover {
    color: #1d184a
}

.transition-hover {
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1)
}

.transition-hover:hover,
.transition-hover:focus {
    transform: translateY(-8px)
}

.service-icon {
    height: 50px;
    width: 50px;
    line-height: 52px;
    border-radius: 50px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-right: 15px;
    color: #292dc2;
    font-size: 22px;
    transition: all 0.3s ease 0s;
    background: rgba(41, 45, 194, 0.15)
}

.hover-icon:hover .service-icon {
    background: #292dc2;
    background: -webkit-linear-gradient(-45deg, #292dc2, #0084e9);
    background: -moz-linear-gradient(-45deg, #292dc2, #0084e9);
    background: -o-linear-gradient(-45deg, #292dc2, #0084e9);
    background: linear-gradient(-45deg, #292dc2, #0084e9);
    color: #fff;
    transition: all 0.3s ease 0s
}

.img-effect {
    transition-duration: .3s;
    transition-property: transform;
    transition-timing-function: ease-out
}

.img-effect:hover {
    transform: translateY(-8px)
}

.hover-style1 {
    transition: all .3s ease-in-out
}

.hover-style1:hover {
    transform: translate3d(-10px, 0, 0)
}

.hover-style2 {
    transition: all .3s ease-out
}

.hover-style2:hover {
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.18);
    transform: translate(0, -10px)
}

.hover-style3 {
    transition: all .3s ease-in-out
}

.hover-style3:hover {
    transform: translate(0, -10px)
}

.hover-style4 {
    transition: all .3s ease-in-out
}

.hover-style4:hover {
    transform: translate3d(10px, 0, 0)
}

.shadow-primary {
    -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2)
}

.shadow-light {
    box-shadow: 0 40px 70px 0 rgba(0, 0, 0, 0.05)
}

.line-through {
    text-decoration: line-through
}

.cursor-pointer {
    cursor: pointer
}

.height-100vh {
    height: 100vh
}

button:focus:not(:focus-visible) {
    box-shadow: none
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1
}

.section-bg {
    position: absolute;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 420px;
    background-position: center center;
    background-repeat: no-repeat
}

.overflow-y-visible {
    overflow-y: visible !important
}

.small-title {
    font-size: 18px;
    line-height: 34px
}

.inner-title {
    font-size: 16px;
    line-height: 34px
}

.sm-avatar {
    width: 2.75rem;
    height: 2.75rem
}

.md-avatar {
    width: 3.75rem;
    height: 3.75rem
}

.story-video {
    height: 100%
}

.min-height-auto {
    min-height: auto
}

.title-box {
    position: relative;
    padding: 20px 0;
    font-size: 60px;
    line-height: 1;
    width: 100px;
    text-align: right
}

.box-circle {
    left: 0;
    bottom: 0;
    width: 1.37em;
    height: 1.37em;
    position: absolute;
    border-radius: 50%;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out
}

@media screen and (min-width: 1400px) {
    .container.lg-container {
        max-width: 80%
    }
}

@media screen and (max-width: 991px) {
    .header-position {
        margin-top: -71px
    }

    .title-box {
        font-size: 54px;
        width: 95px
    }
}

@media screen and (max-width: 767px) {
    .inner-title {
        font-size: 15px;
        line-height: 30px
    }

    .small-title {
        font-size: 16px;
        line-height: 30px
    }
}

@media screen and (max-width: 575px) {
    .title-box {
        font-size: 48px;
        width: 85px
    }
}

.scroll-to-top {
    font-size: 20px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    border-radius: 50%;
    background: #000;
    border: 1px solid #2a2a2a;
    width: 35px;
    height: 35px;
    line-height: 30px;
    z-index: 9999;
    outline: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all 0.3s ease
}

.scroll-to-top i {
    color: #fff
}

.scroll-to-top:hover {
    color: #1d184a;
    background: #fff
}

.scroll-to-top:hover i {
    color: #1d184a
}

.scroll-to-top:visited {
    color: #1d184a;
    text-decoration: none
}


.list-style {
    list-style: none
}

.list-style li {
    line-height: 24px;
    margin-bottom: 12px;
    position: relative;
    padding-left: 30px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.list-style li:last-child {
    margin-bottom: 0
}

.list-style li:before {
    content: '';
    position: absolute;
    left: 4px;
    top: 8px;
    width: 8px;
    height: 8px;
    background: #292dc2;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
    z-index: 2
}

.list-style li:after {
    content: '';
    position: absolute;
    left: 0px;
    top: 4px;
    width: 16px;
    height: 16px;
    background: rgba(41, 45, 194, 0.35);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
    z-index: 1
}

.list-style li:hover {
    padding-left: 35px
}


.btnn {
    background: #292dc2;
    background: -webkit-linear-gradient(-45deg, #292dc2, #0084e9);
    background: -moz-linear-gradient(-45deg, #292dc2, #0084e9);
    background: -o-linear-gradient(-45deg, #292dc2, #0084e9);
    background: linear-gradient(-45deg, #292dc2, #0084e9);
    cursor: pointer;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 20px;
    padding: 14px 28px;
    border-radius: 30px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    -moz-transform: perspective(1px) translateZ(0);
    -o-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    -webkit-transition: all linear 400ms;
    -moz-transition: all linear 400ms;
    -o-transition: all linear 400ms;
    transition: all linear 400ms;
    text-align: center;
    border: none
}

.btnn:hover {
    color: #fff
}

a.btnn:hover,
a.btnn:active,
a.btnn:focus {
    color: #fff
}

.btnn:before {
    background: #292dc2;
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: inline-block;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 51%;
    -ms-transform-origin: 51%;
    -o-transform-origin: 51%;
    transform-origin: 51%;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    border-radius: 22px;
    border: none
}

.btnn:hover:before,
.btnn:focus:before,
.btnn:active:before {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1)
}

.btnn.white {
    color: #292dc2;
    background: #ffffff;
    background: -webkit-linear-gradient(-45deg, #e0e0e0, #fff);
    background: -moz-linear-gradient(-45deg, #e0e0e0, #fff);
    background: -o-linear-gradient(-45deg, #e0e0e0, #fff);
    background: linear-gradient(-45deg, #e0e0e0, #fff)
}

.btnn.white:hover {
    color: #292dc2
}

a.btnn.white:hover,
a.btnn.white:active,
a.btnn.white:focus {
    color: #292dc2
}

.btnn.white:before {
    background: #fff
}

.btnn.small {
    font-size: 12px;
    line-height: 18px;
    padding: 12px 24px
}

.btnn.very-small {
    padding: 8px 20px;
    font-size: 11px
}

.btn.bordered {
    border: 1px solid #fff;
    background: transparent;
    color: #fff
}

.btnn.grey {
    color: #666;
    background: #f0f0f0;
    display: inline-block;
    padding: 11px 28px;
    border-radius: 4px;
    line-height: 28px;
    font-weight: 500;
    text-transform: inherit
}

.btnn.grey.small {
    padding: 7px 20px
}

.btnn.grey:before {
    content: none
}

.btnn.grey:hover,
.btnn.grey:active,
.btnn.grey:focus,
.btnn.grey.active {
    background: #292dc2;
    color: #fff
}

@media screen and (max-width: 767px) {
    .btnn {
        padding: 12px 24px;
        font-size: 13px
    }
}

.btnn.style-one {
    color: #292dc2;
    background: rgba(41, 45, 194, 0.15);
    display: inline-block;
    padding: 11px 28px;
    border-radius: 4px;
    line-height: 28px;
    font-weight: 500;
    text-transform: inherit
}

.btnn.style-one.medium {
    padding: 9px 24px
}

.btnn.style-one.small {
    padding: 6px 20px
}

.btnn.style-one:before {
    content: none
}

.btnn.style-one:hover,
.btnn.style-one:active,
.btnn.style-one:focus,
.btnn.style-one.active {
    background: #292dc2;
    color: #fff
}

.btnn.style-one.fill {
    background: #292dc2;
    color: #fff;
    box-shadow: 0px 15px 25px 0px rgba(0, 0, 30, 0.15)
}

.btnn.style-one.fill:hover {
    box-shadow: none
}

.btnn.style-one.yellow {
    color: #ffcc6f;
    background: rgba(255, 204, 111, 0.3)
}

.btnn.style-one.yellow:hover,
.btnn.style-one.yellow:active,
.btnn.style-one.yellow:focus,
.btnn.style-one.yellow.active {
    background: #ffcc6f;
    color: #fff
}

.btnn.style-one.green {
    color: #06df9e;
    background: rgba(6, 223, 158, 0.15)
}

.btnn.style-one.green:hover,
.btnn.style-one.green:active,
.btnn.style-one.green:focus,
.btnn.style-one.green.active {
    background: #06df9e;
    color: #fff
}

.btnn.style-one.orange {
    color: #ff6262;
    background: rgba(255, 98, 98, 0.15)
}

.btnn.style-one.orange:hover,
.btnn.style-one.orange:active,
.btnn.style-one.orange:focus,
.btnn.style-one.orange.active {
    background: #ff6262;
    color: #fff
}

.btnn.style-one.blue {
    color: #15b2ec;
    background: rgba(21, 178, 236, 0.15)
}

.btnn.style-one.blue:hover,
.btnn.style-one.blue:active,
.btnn.style-one.blue:focus,
.btnn.style-one.blue.active {
    background: #15b2ec;
    color: #fff
}

.btnn.yellow-solid {
    color: #fff;
    background: #ffcc6f;
    display: inline-block;
    padding: 11px 28px;
    border-radius: 4px;
    line-height: 28px;
    font-weight: 500;
    text-transform: inherit;
    box-shadow: 0px 15px 25px 0px rgba(0, 0, 30, 0.15)
}

.btnn.yellow-solid.small {
    padding: 7px 20px
}

.btnn.yellow-solid:before {
    content: none
}

.btnn.yellow-solid:hover,
.btnn.yellow-solid:active,
.btnn.yellow-solid:focus,
.btnn.yellow-solid.active {
    background: #ffcc6f;
    color: #fff
}

.btnn.yellow-solid:hover {
    box-shadow: none
}

.btnn.green-solid {
    color: #fff;
    background: #06df9e;
    display: inline-block;
    padding: 11px 28px;
    border-radius: 4px;
    line-height: 28px;
    font-weight: 500;
    text-transform: inherit;
    box-shadow: 0px 15px 25px 0px rgba(0, 0, 30, 0.15)
}

.btnn.green-solid.small {
    padding: 7px 20px
}

.btnn.green-solid:before {
    content: none
}

.btnn.green-solid:hover,
.btnn.green-solid:active,
.btnn.green-solid:focus,
.btnn.green-solid.active {
    background: #06df9e;
    color: #fff
}

.btnn.green-solid:hover {
    box-shadow: none
}

.btnn.orange-solid {
    color: #fff;
    background: #ff6262;
    display: inline-block;
    padding: 11px 28px;
    border-radius: 4px;
    line-height: 28px;
    font-weight: 500;
    text-transform: inherit;
    box-shadow: 0px 15px 25px 0px rgba(0, 0, 30, 0.15)
}

.btnn.orange-solid.small {
    padding: 7px 20px
}

.btnn.orange-solid:before {
    content: none
}

.btnn.orange-solid:hover,
.btnn.orange-solid:active,
.btnn.orange-solid:focus,
.btnn.orange-solid.active {
    background: #ff6262;
    color: #fff
}

.btnn.orange-solid:hover {
    box-shadow: none
}

.btnn.blue-solid {
    color: #fff;
    background: #15b2ec;
    display: inline-block;
    padding: 11px 28px;
    border-radius: 4px;
    line-height: 28px;
    font-weight: 500;
    text-transform: inherit;
    box-shadow: 0px 15px 25px 0px rgba(0, 0, 30, 0.15)
}

.btnn.blue-solid.small {
    padding: 7px 20px
}

.btnn.blue-solid:before {
    content: none
}

.btnn.blue-solid:hover,
.btnn.blue-solid:active,
.btnn.blue-solid:focus,
.btnn.blue-solid.active {
    background: #15b2ec;
    color: #fff
}

.btnn.blue-solid:hover {
    box-shadow: none
}

.btnn.style-one.white {
    color: #292dc2;
    background: white
}

.btnn.style-one.white:hover,
.btnn.style-one.white:active,
.btnn.style-one.white:focus,
.btnn.style-one.white.active {
    background: #fff;
    color: #292dc2
}

.btnn.style-two {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    display: inline-block;
    padding: 11px 32px;
    font-size: 15px;
    line-height: 28px;
    font-weight: 500;
    text-transform: inherit
}

.btnn.style-two:before {
    content: none
}

.btnn.style-two:hover,
.btnn.style-two:active,
.btnn.style-two:focus {
    background: #fff;
    border-radius: 4px;
    color: #1d184a
}

.btnn.style-two.reverse {
    background: transparent;
    color: #1d184a;
    border: 1px solid #5a5d80;
    border-radius: 4px;
    display: inline-block;
    padding: 11px 32px;
    font-size: 15px;
    line-height: 28px;
    font-weight: 500;
    text-transform: inherit
}

.btnn.style-two:before {
    content: none
}

.btnn.style-two.reverse:hover,
.btnn.style-two.reverse:active,
.btnn.style-two.reverse:focus,
.btnn.style-two.reverse:active {
    background: #1d184a;
    border-radius: 4px;
    color: #fff
}

.btnn.style-two.small {
    padding: 6px 20px;
    font-size: 13px;
    line-height: 24px
}

.btnn.style-two.medium {
    padding: 8px 22px;
    font-size: 14px;
    line-height: 26px
}

.btnn.style-two.md-lg {
    padding: 11px 28px;
    font-size: 14px;
    line-height: 26px
}

.btnn.style-two.fill {
    background: #292dc2
}

.btnn.style-two.fill:hover,
.btnn.style-two.fill:active,
.btnn.style-two.fill:focus {
    color: #fff;
    background: #0084e9
}

@media screen and (max-width: 767px) {
    .btnn.style-two {
        padding: 8px 24px
    }
}

.btnn.style-three {
    color: #fff;
    display: inline-block;
    padding: 11px 28px;
    border-radius: 4px;
    line-height: 28px;
    font-weight: 500;
    text-transform: inherit
}

.btnn.style-three:before {
    content: none
}

.btnn.style-three:hover,
.btnn.style-three:active,
.btnn.style-three:focus,
.btnn.style-three.active {
    box-shadow: 0px 15px 25px 0px rgba(0, 0, 30, 0.15)
}

.btnn.style-three.bordered {
    border: 1px solid #292dc2;
    color: #292dc2
}

.btnn.style-three.bordered:hover {
    background: #292dc2;
    border-color: transparent;
    color: #fff
}

.btnn-style-seven {
    position: relative;
    width: auto;
    background: #ffcc6f;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    padding: 8px 34px;
    line-height: 2;
    vertical-align: middle;
    display: inline-block;
    border: 3px solid transparent;
    transition: all 0.5s ease;
    border-radius: 40px
}

.btnn-style-seven:hover,
.btnn-style-seven:active,
.btnn-style-seven:focus {
    color: #fff
}

.btnn-style-seven:before {
    content: '';
    position: absolute;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    top: -10px;
    left: 8px;
    border: 1px solid #ffcc6f;
    transition: all 0.5s ease;
    border-radius: 40px
}

.btnn-style-seven span {
    z-index: 9;
    position: relative;
    display: inline-block
}

.btnn-style-seven:hover:before,
.btnn-style-seven:active:before,
.btnn-style-seven:focus:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
    transition: all 0.5s ease
}

.btnn-style-seven.white {
    background-color: #fff;
    color: #ffcc6f
}

.btnn-style-seven.white:before {
    border: 1px solid #fff
}

.btnn-style-seven.white:hover:before,
.btnn-style-seven.white:active:before,
.btnn-style-seven.white:focus:before {
    border: 1px solid #ffcc6f
}

.top-bar-info {
    display: inline-block;
    vertical-align: middle
}

.top-bar-info ul {
    margin-bottom: 0
}

.top-bar-info li {
    font-weight: 500;
    color: #fff;
    list-style-type: none;
    font-size: 14px;
    padding: 0 5px 0;
    display: inline-block;
    margin-bottom: 0
}

.top-bar {
    display: block;
    position: relative;
    z-index: 999;
    padding: 7px 0
}

.top-bar-info li i {
    font-size: 16px;
    color: #fff;
    margin-right: 8px;
    margin-top: 0;
    display: inline-block;
    vertical-align: text-bottom
}

.top-social-icon {
    padding: 0;
    float: right;
    margin: 0
}

.top-social-icon li {
    font-size: 14px;
    list-style-type: none;
    float: left;
    text-align: center;
    margin: 0;
    padding: 0 7px
}

.top-social-icon li:last-child {
    padding-right: 0
}

.top-social-icon li:last-child a {
    padding-right: 0
}

.top-social-icon li a {
    color: #fff;
    line-height: 28px;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    padding: 0 3px
}

.top-social-icon li a:hover {
    color: rgba(255, 255, 255, 0.65)
}

.navbar-nav li.current>a,
.navbar-nav>li.active>a {
    color: #292dc2
}

.navbar>ul>li.current>a:after {
    border-color: transparent #292dc2 #292dc2 transparent
}

.navbar ul ul li.active>a {
    color: #292dc2
}

.white-header-mobile .navbar-nav>li>a {
    font-size: 14px
}

@media screen and (min-width: 992px) {
    .navbar-nav ul li {
        position: relative;
        transition: 0.3s ease-in-out
    }

    .navbar-nav ul li:hover {
        padding-left: 25px
    }

    .navbar-nav ul li:before {
        width: 0;
        margin-right: 10px;
        content: "";
        background: #292dc2;
        transition: 0.3s ease-in-out;
        display: inline-block;
        height: 2px;
        vertical-align: middle;
        position: absolute;
        top: 20px;
        left: 25px
    }

    .navbar-nav ul li:hover:before {
        width: 20px
    }

    .navbar-nav li ul.megamenu li:before {
        content: none
    }

    .transparent-header .navbar-nav>li.current>a,
    .transparent-header .navbar-nav>li.active>a {
        color: #fff
    }

    .transparent-header.scrollHeader .navbar-nav>li.active>a,
    .transparent-header.scrollHeader .navbar-nav>li.current>a {
        color: #292dc2
    }

    .transparent-header.scrollHeader .navbar>ul>li.has-sub.current>a:after {
        border-color: transparent #292dc2 #292dc2 transparent
    }

    .transparent-header.scrollHeader .top-search {
        background-color: #091e42
    }

    .white-header-mobile .navbar-nav>li>a {
        padding: 21px 0.2rem
    }
}

@media screen and (max-width: 991px) {
    .navbar ul ul li.active>a {
        color: #292dc2
    }

    .navbar-toggler:after {
        border-top: 2px solid #292dc2;
        border-bottom: 2px solid #292dc2
    }

    .navbar-toggler:before {
        background: #292dc2
    }

    .navbar-toggler.menu-opened:after,
    .navbar-toggler.menu-opened:before {
        background: #292dc2
    }

    .navbar-toggler.dark {
        background: #292dc2
    }

    .white-header-mobile .navbar-toggler {
        top: 14px;
        background: #292dc2
    }

    .white-header-mobile .navbar-toggler:after {
        border-color: #fff
    }

    .white-header-mobile .navbar-toggler:before,
    .white-header-mobile .navbar-toggler.menu-opened:after {
        background: #fff
    }

    .white-header-mobile.transparent-header li.search>a {
        color: #1d184a
    }

    .white-header-mobile .attr-nav ul li.search {
        margin-top: 8px
    }

    .sm-bg-primary {
        background: #292dc2;
        background: -webkit-linear-gradient(-45deg, #292dc2, #0084e9);
        background: -moz-linear-gradient(-45deg, #292dc2, #0084e9);
        background: -o-linear-gradient(-45deg, #292dc2, #0084e9);
        background: linear-gradient(-45deg, #292dc2, #0084e9)
    }

    .sm-bg-primary-solid {
        background: #292dc2
    }

    .sm-bg-primary-90 {
        background: #292dc2;
        background: -webkit-linear-gradient(90deg, #292dc2, #0084e9);
        background: -moz-linear-gradient(90deg, #292dc2, #0084e9);
        background: -o-linear-gradient(90deg, #292dc2, #0084e9);
        background: linear-gradient(90deg, #292dc2, #0084e9)
    }

    .sm-bg-primary-180 {
        background: #292dc2;
        background: -webkit-linear-gradient(180deg, #292dc2, #0084e9);
        background: -moz-linear-gradient(180deg, #292dc2, #0084e9);
        background: -o-linear-gradient(180deg, #292dc2, #0084e9);
        background: linear-gradient(180deg, #292dc2, #0084e9)
    }
}

.navbar .megamenu .sub-title {
    color: #232323
}

.section-heading {
    margin-bottom: 50px;
    text-align: center
}

.section-heading.half {
    margin-bottom: 30px
}

.section-heading h1,
.section-heading h2,
.section-heading h3,
.section-heading h4,
.section-heading h5,
.section-heading h6 {
    position: relative;
    margin-bottom: 0;
    font-weight: 600;
    position: relative;
    line-height: 140%
}

.section-heading.white h1,
.section-heading.white h2,
.section-heading.white h3,
.section-heading.white h4,
.section-heading.white h5,
.section-heading.white h6 {
    color: #fff
}

.section-heading.grey h1,
.section-heading.grey h2,
.section-heading.grey h3,
.section-heading.grey h4,
.section-heading.grey h5,
.section-heading.grey h6 {
    color: #b7b7b7
}

.section-heading.grey h1:after,
.section-heading.grey h2:after,
.section-heading.grey h3:after,
.section-heading.grey h4:after,
.section-heading.grey h5:after,
.section-heading.grey h6:after {
    background: #b7b7b7
}

.section-heading.left {
    text-align: left
}

.section-heading strong {
    font-weight: 600
}

.section-heading.white p {
    color: #fff
}

.section-heading p {
    font-size: 15px;
    font-weight: 400;
    padding-top: 15px;
    margin: 0 auto
}

.section-heading span {
    position: relative;
    font-size: 15px;
    font-weight: 500;
    color: #292dc2;
    line-height: 200%;
    margin-bottom: 10px
}

.section-heading.white span {
    color: #fff
}

.section-heading.grey span {
    color: #b7b7b7
}

@media screen and (max-width: 991px) {
    .section-heading {
        margin-bottom: 30px
    }

    .section-heading p {
        padding-top: 10px;
        font-size: 14px
    }
}

.section-title .title-count {
    position: absolute;
    text-align: center;
    font-weight: bolder;
    top: -18px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-size: 160px;
    z-index: 0;
    opacity: 0.1;
    color: #999;
    width: 160px;
    height: 160px;
    line-height: 160px
}

@media screen and (max-width: 991px) {
    .section-title .title-count {
        font-size: 130px
    }
}

@media screen and (max-width: 767px) {
    .section-title .title-count {
        font-size: 110px;
        line-height: 110px
    }
}

.line-title {
    position: relative;
    padding-bottom: 1.2rem
}

.line-title:after {
    content: '';
    display: block;
    width: 75px;
    height: 2px;
    background: #292dc2;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0
}

.line-title.white {
    color: #fff
}

.line-title.white:after {
    background: #fff
}



.main-banner-stylejobot {
    width: 100%;
    position: relative;
    padding: 9% 0 21% 0
}

.main-banner-stylejobot .container {
    margin-bottom: 50px
}

.main-banner-stylejobot .header-text h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 80px;
    margin-bottom: 20px
}

.main-banner-stylejobot .banner-content-img {
    width: 100%;
    height: auto;
    text-align: center;
    position: absolute;
    bottom: -100px;
    right: 0;
    z-index: 1;
    left: 0;
    margin: 0 auto
}

.pricing-card {
    -webkit-transition-duration: 400ms;
    -o-transition-duration: 400ms;
    transition-duration: 400ms;
    background-color: #ffff;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.06);
    border: 2px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 3rem;
}

.pricing-card .description li {
    position: relative;
    z-index: 1;
    padding-left: 2rem;
    margin-bottom: 0.75rem;
    color: rgb(53, 50, 50);
}

.pricing-card .description li:last-child {
    margin-bottom: 0;
}

.pricing-card .description li::before {
    position: absolute;
    font-family: uicons-regular-rounded !important;
    color: #ffffff;
    top: 0;
    left: 0;
    z-index: 1;
    content: "\f3cb";
    width: 1.5rem;
    height: 1.5rem;
    background-color: rgba(220, 53, 69, 0.8);
    border-radius: 2rem;
    text-align: center;
    line-height: 1.5rem;
    font-size: 10px;
}

.pricing-card .description li.active::before {
    content: "\\";
    color: #ffffff;
    background-color: rgba(20, 108, 67, 0.7);
}


.price-title i {
    font-size: 3rem;
    margin-bottom: 1rem;
    background: -webkit-linear-gradient(#F27121, #E94057);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.price-title h4{
    color: black !important;
    font-weight: 700;
}

.price-title h2{
    font-style: italic;
}


.description-list {
    position: relative;
    z-index: 1;
    border-top: 2px dashed rgba(255, 255, 255, .1);
    border-bottom: 2px dashed rgba(255, 255, 255, .1);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.action-btn {
    background-color: rgba(255, 255, 255, .05);
}

.pricing-card.active,
.pricing-card:hover {
    border-color: rgba(255, 255, 255, 0.3);
    box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.075);
}

.main-banner-stylejobot .header-shape img {
    max-width: none
}

@media screen and (max-width: 1399px) {
    .main-banner-stylejobot {
        padding: 14% 0 21% 0
    }
}

@media screen and (max-width: 1199px) {
    .main-banner-stylejobot .header-text h1 {
        line-height: 70px;
        font-size: 50px
    }

    .main-banner-stylejobot .banner-content-img {
        bottom: -120px
    }
}

@media screen and (max-width: 991px) {
    .main-banner-stylejobot .banner-content-img {
        width: 68%
    }

    .main-banner-stylejobot .header-text h1 {
        line-height: 60px;
        font-size: 42px;
        margin-bottom: 15px
    }
}

@media screen and (max-width: 767px) {
    .main-banner-stylejobot {
        padding: 18% 0 21% 0
    }

    .main-banner-stylejobot .banner-content-img {
        bottom: -120px
    }

    .main-banner-stylejobot .header-text h1 {
        line-height: 46px;
        font-size: 32px;
        margin-bottom: 15px
    }
}

@media screen and (max-width: 575px) {
    .main-banner-stylejobot {
        padding: 37% 0 29% 0
    }

    .main-banner-stylejobot .container {
        margin-bottom: 0
    }

    .main-banner-stylejobot .header-text h1 {
        line-height: 36px;
        font-size: 28px;
        margin-bottom: 15px
    }

    .main-banner-stylejobot .banner-content-img {
        display: none
    }
}



.page-title-section {
    padding: 180px 0 90px 0
}

.page-title-section.style1 {
    padding: 150px 0
}

.page-title-section h1 {
    font-size: 54px;
    margin-bottom: 0;
    line-height: 1;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    position: relative;
    z-index: 9
}

.page-title-section ul {
    margin: 0;
    padding: 11px 0 0 0;
    list-style: none;
    display: inline-block;
    line-height: 1.2
}

.page-title-section ul li {
    display: inline-block;
    position: relative;
    padding-right: 20px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px
}

.page-title-section ul li:last-child {
    color: #ffffff;
    opacity: 0.80;
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0
}

.page-title-section ul li:last-child a {
    color: #ffffff;
    opacity: 0.80;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 1px
}

.page-title-section ul li:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
    right: -2px;
    z-index: 1;
    position: absolute;
    top: 5px
}

.page-title-section ul li:before {
    content: '';
    width: 15px;
    height: 15px;
    background: #0084e9;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    right: -10px;
    top: 2px;
    z-index: 0
}

.page-title-section ul li:last-child:after {
    content: none
}

.page-title-section ul li:last-child:before {
    content: none
}

.page-title-section ul li a {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1px
}

@media screen and (max-width: 1199px) {
    .page-title-section {
        padding: 160px 0 85px 0
    }

    .page-title-section h1 {
        font-size: 48px
    }
}

@media screen and (max-width: 991px) {
    .page-title-section {
        padding: 140px 0 80px 0;
        margin-top: -71px
    }

    .page-title-section.style1 {
        padding: 130px 0
    }

    .page-title-section h1 {
        font-size: 42px
    }
}

@media screen and (max-width: 575px) {
    .page-title-section {
        padding: 120px 0 70px 0;
        margin-top: -66px
    }

    .page-title-section.style1 {
        padding: 100px 0
    }

    .page-title-section h1 {
        font-size: 36px
    }
}

.jobot-card-style .icon {
    position: relative
}

.jobot-card-style .box-circle {
    left: 14px;
    bottom: -6px;
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 74% 26% 46% 54% / 53% 27% 73% 47%;
    background: linear-gradient(247deg, #ffcc6f, #fff);
    transition: all 0.8s ease-in-out;
    z-index: 0
}

.jobot-card-style .box-circle.green {
    background: linear-gradient(247deg, #06df9e, #fff)
}

.jobot-card-style .box-circle.orange {
    background: linear-gradient(247deg, #ff6262, #fff)
}

.jobot-card-style i {
    font-size: 50px;
    z-index: 9;
    position: relative
}

.jobot-card-style.parrot .icon {
    background-color: #96f7d2
}

.jobot-card-style.sky .icon {
    background-color: #a9d2ff
}


.jobot-card-style-alt {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05)
}

.jobot-card-style-alt .icon {
    position: relative;
    height: 100px;
    width: 120px;
    z-index: 2;
    -webkit-perspective: 100px;
    perspective: 100px;
    margin-bottom: 30px
}

.jobot-card-style-alt .icon:before {
    background: rgba(60, 241, 187, 0.1);
    position: absolute;
    content: "";
    right: 44%;
    top: -15%;
    height: 100%;
    width: 88px;
    z-index: -1;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transform: rotateY(-7deg);
    box-shadow: 0 0 1px transparent
}

.jobot-card-style-alt.yellow .icon:before {
    background: rgba(255, 204, 111, 0.1)
}

.jobot-card-style-alt.blue .icon:before {
    background: rgba(86, 205, 249, 0.1)
}

.jobot-card-style-alt.orange .icon:before {
    background: rgba(247, 133, 133, 0.1)
}

.jobot-card-style-alt.purple .icon:before {
    background: rgba(114, 117, 245, 0.1)
}

.jobot-card-style-alt.pink .icon:before {
    background: rgba(255, 197, 213, 0.1)
}

.jobot-card-style-alt .icon .icon-inner {
    position: relative;
    left: 32px;
    display: inline-block;
    border-radius: 50%
}

.jobot-card-style-alt .icon .icon-inner i {
    width: 62px;
    height: 62px;
    text-align: center;
    line-height: 62px;
    border-radius: 50%;
    color: #fff;
    font-size: 30px;
    display: inline-block
}


.social-icon01 li {
    display: inline-block;
    margin-right: 5px
}

.social-icon01 li:last-child {
    margin-right: 0
}

.social-icon01 li a {
    width: 35px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #286efb;
    text-align: center;
    border-radius: 50%;
    font-size: 15px;
    display: inline-block;
    color: #007bff
}

.social-icon01 li a:hover {
    background-color: #007bff;
    color: #ffffff
}


footer {
    padding: 50px 0 0;
    background: #091e42;
    color: rgba(255, 255, 255, 0.65)
}

footer p {
    margin-bottom: 0
}

footer address {
    margin-bottom: 5px
}

footer h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 30px;
    line-height: 1;
    position: relative
}

footer h3:after {
    content: '';
    display: block;
    width: 70px;
    height: 2px;
    background: #292dc2;
    margin: 12px auto 0 auto
}

.footer-title-style:after {
    margin-left: auto;
    margin-right: auto
}

h3.footer-title-style {
    margin-bottom: 20px
}

footer h3.footer-title-style2 {
    margin-bottom: 28px
}

h3.footer-title-style2:after {
    width: 100%;
    border-bottom: 1px dashed #999;
    margin-top: 15px;
    background: none
}

footer h4.footer-title-style3 {
    margin-bottom: 30px;
    font-size: 24px
}

.footer-bar {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 50px;
    text-align: center;
    background: #191919;
    color: rgba(255, 255, 255, 0.65)
}

.footer-bar span {
    font-size: 15px;
    font-weight: 400
}

.footer-bar a {
    color: rgba(255, 255, 255, 0.65)
}

.footer-bar a:hover {
    color: #fff
}

footer h3.normal:after {
    content: none
}

.footer-box {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 30px
}

.footer-nav-link li {
    display: inline-block;
    margin-right: 25px
}

.footer-nav-link li:last-child {
    margin-right: 0
}

.footer-bg-img {
    position: absolute;
    bottom: 0;
    background: url(../img/bg/bg-02.png) no-repeat scroll center 0;
    width: 100%;
    height: 266px;
    background-size: cover
}

.footer-shape1 {
    height: 500px;
    width: 500px;
    position: absolute;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    right: -15%;
    bottom: 0
}

.footer-shape2 {
    height: 500px;
    width: 500px;
    position: absolute;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    right: -15%;
    bottom: 7%
}

.footer-list {
    margin: 0;
    color: #575a7b
}

.footer-list li {
    list-style-type: none;
    padding: 6px 0;
    font-size: 15px;
    word-break: break-word
}

.footer-list li:last-child {
    padding-bottom: 0
}

.footer-list li:first-child {
    padding-top: 0
}

.footer-list li a {
    font-size: 15px;
    font-weight: 400
}

.footer-list li a:before {
    content: '\f105';
    font-weight: 700;
    vertical-align: bottom;
    font-family: Font Awesome\ 5 Free;
    padding-right: 8px;
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s
}

.footer-list01 {
    margin: 0
}

.footer-list01 li {
    list-style-type: none;
    padding: 12px 0 12px 0;
    font-size: 17px;
    color: #596982
}

.footer-list01 li:first-child {
    padding-top: 0
}

.footer-list01 li:last-child {
    padding-bottom: 0
}

.footer-list01 li a {
    font-weight: 400;
    color: #596982
}

.footer-list01 li a:hover {
    color: #243f67
}

.footer-list02 {
    padding: 0;
    margin: 0;
    list-style: none
}

.footer-list02 li {
    list-style-type: none;
    padding: 0.5rem 0 0.5rem 0;
    font-size: 15px
}

.footer-list02 li:first-child {
    padding-top: 0
}

.footer-list02 li:last-child {
    padding-bottom: 0
}

.footer-list03 {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 40px
}

.footer-list03 li {
    list-style-type: none;
    padding: 0 20px 0 20px;
    font-size: 15px;
    display: inline-block;
    border-right: 1px solid #fff;
    line-height: 1
}

.footer-list03 li:first-child {
    padding-left: 0
}

.footer-list03 li:last-child {
    border-right: unset;
    padding-right: 0
}

@media screen and (max-width: 1199px) {
    .footer-list03 li {
        padding: 0 16px 0 16px
    }
}

@media screen and (max-width: 479px) {
    .footer-list03 li:nth-child(2) {
        border-right: none;
        padding-right: 0
    }
}

.footer-social-icons ul {
    margin-bottom: 0
}

.footer-social-icons ul li {
    display: inline-block;
    border: 1px solid #292dc2;
    border-radius: 50%;
    color: #fff;
    margin-right: 5px;
    margin-bottom: 5px;
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: 0.3s
}

.footer-social-icons ul li:last-child {
    margin-right: 0
}

.footer-social-icons ul li a {
    color: #292dc2;
    display: block;
    font-size: 15px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 35px
}

.footer-social-icons ul li:hover {
    background: #292dc2;
    background: -webkit-linear-gradient(-45deg, #292dc2, #0084e9);
    background: -moz-linear-gradient(-45deg, #292dc2, #0084e9);
    background: -o-linear-gradient(-45deg, #292dc2, #0084e9);
    background: linear-gradient(-45deg, #292dc2, #0084e9)
}

.footer-social-icons ul li:hover i {
    color: #fff
}

.footer-social-icons01 ul {
    margin-bottom: 0
}

.footer-social-icons01 ul li {
    display: inline-block;
    border: 1px solid #243f67;
    border-radius: 50%;
    color: #243f67;
    margin-right: 5px;
    margin-bottom: 5px;
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: 0.3s
}

.footer-social-icons01 ul li:last-child {
    margin-right: 0
}

.footer-social-icons01 ul li a {
    color: #243f67;
    display: block;
    font-size: 15px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 35px
}

.footer-social-icons01 ul li:hover {
    background: #243f67
}

.footer-social-icons01 ul li:hover i {
    color: #fff
}

.footer-social-icons2 {
    margin-bottom: 0
}

.footer-social-icons2 li {
    display: inline-block;
    color: #232323;
    margin-bottom: 0 !important;
    margin-right: 15px
}

.footer-social-icons2 li:last-child {
    margin-right: 0
}

.footer-social-icons2 li a {
    display: block;
    font-size: 16px
}

.footer-social-icons2 li a i {
    transition-duration: 0.3s
}

.footer-social-icons3 {
    margin-bottom: 0
}

.footer-social-icons3 li {
    display: inline-block;
    color: #fff;
    margin-bottom: 0 !important;
    margin-right: 15px
}

.footer-social-icons3 li:last-child {
    margin-right: 0
}

.footer-social-icons3 li a {
    color: #fff;
    display: block;
    font-size: 16px
}

.footer-social-icons3 li a i {
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: 0.3s
}

.footer-social-icons3 li:hover i {
    color: #fff;
    opacity: 0.65
}

@media screen and (max-width: 1199px) {
    footer h4.footer-title-style3 {
        font-size: 22px;
        margin-bottom: 25px
    }

    .footer-list01 li {
        font-size: 16px
    }
}

@media screen and (max-width: 991px) {
    footer h4.footer-title-style3 {
        font-size: 20px;
        margin-bottom: 20px
    }
}

@media screen and (max-width: 767px) {
    footer h3 {
        font-size: 16px
    }

    .footer-style1 {
        padding: 70px 0 0 0
    }

    h3.footer-title-style {
        margin-bottom: 15px
    }

    footer h3.footer-title-style2 {
        margin-bottom: 20px
    }

    .footer-list01 li {
        padding: 8px 0
    }
}

.footer-style1 {
    background: #1d184a;
    padding: 120px 0 0 0;
    color: rgba(255, 255, 255, 0.65);
    font-weight: 300
}

.footer-style1 ul {
    list-style: none
}

.footer-style1 a {
    color: rgba(255, 255, 255, 0.65)
}

.footer-style1 a:hover {
    color: white
}

.footer-style1 h3 {
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 2.5rem
}

.footer-style1 h3:after {
    content: none
}

.footer-style1 ul {
    margin-bottom: 0
}

.footer-style1 ul li {
    margin-bottom: 15px
}

.footer-style1 ul li:last-child {
    margin-bottom: 0
}

.footer-style1 ul li a {
    color: rgba(255, 255, 255, 0.65)
}

.footer-style1 ul li a:hover {
    color: white
}

.footer-style1 .footer-bottom {
    margin: 120px 0 0 0;
    padding: 20px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1)
}

.footer-style1 .footer-listing li {
    color: rgba(255, 255, 255, 0.65);
    word-break: break-word
}

.footer-style1 .footer-listing li span {
    display: inline-block;
    vertical-align: top
}

.footer-style1 .footer-listing li .icon {
    margin-right: 15px
}

@media screen and (max-width: 991px) {
    .footer-style1 {
        padding: 90px 0 0 0
    }

    .footer-style1 h3 {
        margin-bottom: 20px
    }

    .footer-style1 .footer-bottom {
        margin: 90px 0 0 0
    }
}

@media screen and (max-width: 767px) {
    .footer-style1 {
        padding: 70px 0 0 0
    }

    .footer-style1 .footer-bottom {
        margin: 60px 0 0 0
    }
}

.footer-style2 {
    box-shadow: 0px 0 75px 0 rgba(0, 0, 0, 0.05)
}

.footer-style2>.container {
    padding: 120px 15px
}

@media screen and (max-width: 1199px) {
    .footer-style2>.container {
        padding: 90px 15px
    }
}

@media screen and (max-width: 991px) {
    .footer-style2>.container {
        padding: 70px 15px
    }
}

.footer-style3 {
    color: #939393;
    padding-top: 240px;
    margin-top: -120px;
    z-index: 0
}

.footer-style3 .footer-icon ul li {
    display: inline-block;
    margin-right: 20px
}

.footer-style3 ul {
    list-style: none
}

.footer-style3 ul li {
    margin: 10px 0;
    font-size: 16px
}

.footer-style3 ul li:last-child {
    margin-bottom: 0;
    padding-bottom: 0
}

.footer-style3 h3:after {
    content: "";
    background: unset;
    margin: 0
}

.footer-style3-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    padding: 20px 0;
    margin-top: 100px
}

.footer-style3 h3 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px
}

.footer-style3 a {
    color: #939393
}

.footer-style3 a:hover {
    color: #fff
}

@media screen and (max-width: 1199px) {
    .footer-style3 {
        padding-top: 220px;
        margin-top: -120px
    }

    .footer-style3-bottom {
        margin-top: 70px
    }
}

@media screen and (max-width: 991px) {
    .footer-style3 {
        padding-top: 140px;
        margin-top: -90px
    }

    .footer-style3-bottom {
        margin-top: 50px
    }
}

@media screen and (max-width: 767px) {
    .footer-style3 h4 {
        font-size: 16px
    }

    .footer-style3 ul li {
        font-size: 15px
    }
}

.footer-style4 {
    padding-top: 0
}

.footer-style4>.container {
    padding-top: 90px;
    padding-bottom: 90px
}

.footer-style4 h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 25px;
    line-height: 1;
    position: relative
}

.footer-style4 h3:after {
    content: none
}

.footer-style4 .footer-top-bar {
    border-bottom: 1px solid white;
    padding-top: 40px;
    padding-bottom: 40px
}

.footer-style4 .footer-bar {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0;
    background: transparent;
    border-top: 1px solid rgba(255, 255, 255, 0.075);
    color: rgba(255, 255, 255, 0.85)
}

.footer-style4 .footer-bar a {
    color: #fff
}

.footer-style4 .footer-bar a:hover {
    color: rgba(255, 255, 255, 0.65)
}

.footer-style4 ul {
    margin-bottom: 0
}

.footer-style4 li {
    margin-bottom: 10px;
    list-style: none;
    color: rgba(255, 255, 255, 0.8)
}

.footer-style4 li:last-child {
    margin-bottom: 0
}

.footer-style4 li a {
    color: rgba(255, 255, 255, 0.8)
}

.footer-style4 li a:hover {
    color: #fff
}

@media screen and (max-width: 1199px) {
    .footer-style4>.container {
        padding-top: 70px;
        padding-bottom: 70px
    }
}

@media screen and (max-width: 767px) {
    .footer-style4>.container {
        padding-top: 50px;
        padding-bottom: 50px
    }

    .footer-style4 h3 {
        margin-bottom: 20px
    }
}

.footer-style5:before {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #292dc2;
    top: 0;
    left: 0;
    z-index: 1
}

.footer-style5:after {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #061836;
    top: 0;
    right: 0;
    z-index: 1
}

.footer-style5 .bottom-footer {
    z-index: 9;
    position: relative
}

@media screen and (max-width: 767px) {
    .footer-style5:after {
        display: none
    }

    .footer-style5:before {
        width: 100%
    }
}

.footer-style6 .footer-form {
    background-color: rgba(255, 255, 255, 0.05)
}

.buy-theme {
    transition-timing-function: ease-in-out;
    transition-duration: .2s;
    position: fixed;
    top: 150px;
    right: -89px;
    background: #0084e9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999
}

.buy-theme i {
    font-size: 16px;
    vertical-align: middle;
    position: relative;
    top: -1px;
    color: #fff
}

.all-demo i {
    font-size: 15px;
    vertical-align: middle;
    position: relative;
    top: -1px;
    color: #fff
}

.buy-theme:hover,
.all-demo:hover {
    transition-timing-function: ease-in-out;
    transition-duration: .2s;
    right: 0px;
    background: #0084e9
}

.all-demo:hover {
    background: #06df9e
}

.buy-theme span,
.all-demo span {
    padding: 0 9px;
    position: relative;
    top: 0;
    opacity: 0
}

.buy-theme:hover span,
.all-demo:hover span {
    opacity: 1;
    color: #fff
}

.buy-theme:hover i,
.all-demo:hover i {
    color: #fff
}

.buy-theme a,
.all-demo a {
    color: #232323;
    font-size: 10px;
    text-transform: uppercase;
    padding: 5px 10px;
    display: block;
    text-decoration: none;
    font-weight: 500
}

.all-demo {
    transition-timing-function: ease-in-out;
    transition-duration: .2s;
    position: fixed;
    top: 185px;
    right: -105px;
    background: #06df9e;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999
}